@{
    ViewData["Title"] = "Insert Items";
}
<h2>@ViewData["Title"]</h2>

<form>
    <label for="name">Item name</label>
    <input type="text" id="name">
    </br>
    <label for="decription">Item description</label>
    <input type="text" id="description">
    </br>
    <input type="submit" id="add" value="Add item">
</form>
