@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>

<form class="zaloguj-form" onsubmit="this.preventDefault();">
    <label for="username">Login</label>
    <input type="text" id="username" name="username">
    </br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    </br>
    <input type="submit" id="login" value="Sign In">
</form>

<script>
function serializeArrayToJSON(arr) {
    var ret = {};

    for (x in arr) {
        ret[arr[x].name] = arr[x].value;
    }

    return ret;
}

function zaloguj() {
    let to_json = {};
    let arr = $('.zaloguj-form').serializeArray();
    to_json.login = arr[0].value;
    to_json.password = arr[1].value;
    /*
    serializeArrayToJSON(
        $('.zaloguj-form').serializeArray()
    );
    */

    console.log(to_json);

    $.ajax({
        method: "POST",
        url: "/Home/UserAuth",
        data: JSON.stringify(to_json),
        dataType: "JSON",
        contentType: "application/json; charset=UTF-8"
    })    
    .done(function( result ) {
        console.log("Done: " + result);

        switch(result.type) {
            case 0: // zalogowany
                // Przeładować stronę
                break;
            case 1: // błędny login lub hasło
                alert("Błąd logowania");
                break;
            default: // błędny login lub hasło
                alert("Błąd");
                break;
        }
    })
    .fail(function(jqXHR, textStatus, error) {
        console.log("Fail: " + error);
    });
}

document.addEventListener("DOMContentLoaded", function(){
    $('#login').click(function(e) {
        e.preventDefault();
        zaloguj();
    });
});


</script>
