@model IEnumerable<samplecoreapp.Models.Items>


<h1>Items:</h1>
<ul>
    @foreach(var item in Model)
    {
        <li>
            <p>@item.name</p>
            <p>@item.description</p>
        </li>
    }
</ul>